@{
    ViewBag.Title = "About First United Bank";
}
<h2>@ViewBag.Title</h2><br />
<p>First United Bank was set up in April 2017 to provide national electronic banking services. Our headquarters is located in central London and the business consists of several branches throughout the country including Manchester, Bristol, Liverpool, Birmingham, Edinburgh, Chester and more. To find out more information, contact us using the details provided on our contact page.</p>
