@{
    ViewBag.Title = "Contact First United Bank";
}
<h2>@ViewBag.Title</h2>


<address>
    <br />
    <strong>Address:</strong><br />
    121 Oxford Street<br />
    Marylebone<br />
    London<br />
    W1W 8LG<br /><br />
    <strong>Phone Number:</strong><br />
    0844 847 3234<br /><br />
    <strong>Email:</strong><br />
    <a href="mailto:admin@firstunitedbank.org.uk">admin@firstunitedbank.org.uk</a>
</address>