@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h1>First United Bank</h1><br />
                              <p class="lead">Welcome to the web-based ATM for First United Bank. This application enables you to make a fast withdrawal of £100 in addition to the usual features such as viewing your account balance and making both withdrawals and deposits.  Features such as transferring funds to other accounts, carrying out transactions in multiple currencies and viewing transaction statements for a specified time period will be available in the future. Try out our web ATM application today!</p><br />
    <p class="lead">This application was developed by Natalie Griffiths and Hazel Lessiter at Glyndwr University.</p>
</div>
